/* About.css */

.about-container {
    margin: 50px auto;
    margin-top: 200px;
    padding: 20px;
    max-width: 800px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    animation: fadeIn 1s ease-in-out;
    align-items: center;
    font-family: "Poppins", sans-serif;
  }
  
  .about-container h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .about-container p {
    margin-bottom: 15px;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  