* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  :root {
    --primary-color: #2E86C1;
    --secondary-color: #FFFFFF;
    --text-color: #1C1C1C;
    --bg-color: #F7F7F7;
    --hover-color: #E1E1E1;
    --font-family: "Poppins", sans-serif;
  }
  
  .container2 {
    margin-top: 10px;
    max-width: 1200px;
    margin-left: 350px;
    padding: 20px;
    background-color: var(--bg-color);
    border-radius: 10px;
    box-shadow: 0px 1px 5px var(--hover-color);
    display: flex;
    justify-content: center;
    
    
  }

  .nbr-resto{
    color: var(--text-color);
    margin-top: 250px;
    text-align: center;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.4rem;

  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    width: 100%;
    max-width: 900px;
    margin-left: -140px;
   
  }
  
  .image-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }
  
  .image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    /* Remplacez 300px par la hauteur souhaitée pour vos images */
  }
  
  .image-info {
    background-color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .image-title {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .image-description {
    font-size: 14px;
    margin: 0;
  }

 
  
  .container3 {
    position: relative;
    height: 500px; /* ajuster la hauteur à votre convenance */
    overflow: hidden;
    display: flex;
    justify-content: center;
    
    margin-top: 50px;
    margin-left: 15px; /* ajuster la marge supérieure à votre convenance */
}


